.heading-top {
  font-family: AppleGothic;
  margin-left: 30px;
}
.heading-one {
  font-family: AppleGothic;
  font-size: 26px;
  margin-left: 30px;
}
.heading-two {
  font-family: AppleGothic;
  margin-left: 30px;
}
.heading-two:hover {
  opacity:.5;
  color: #5a6013;
  font-family: "Apple Braille";
}
.heading-three {
  font-family: AppleGothic;
  margin-left: 30px;
}
.heading-three:hover {
  color: #ffffff;
}
.new-bebe{
  margin-left: 30px;
  margin-top: 15px;
  color: #000000;
  font-size: 1.0em;
  font-family: AppleGothic;
}
.image-page {
  width: 315px;
  height: 200px;
  margin: 5px 0px 0px 30px;
  border-bottom: groove;
}
.image-page:hover {
  opacity: .5;
}
.panel-one {
  width: 650px;
  height: 200px;
  margin-left: 30px;
  font-family: AppleGothic;
  display: inline-block;
  text-align: left;
}
.panel-two {
  width: 650px;
  height: 200px;
  margin-left: 45px;
  text-align: left;
  display: inline-block;
  font-family: AppleGothic;
}
.panel-h4 {
  color: #000000;
  font-size: 1.0em;
  font-family: AppleGothic;
}
.image-bottom {
  width: 40%;
  height:300px;
  margin-left: 25px;
  border: 1px solid #C7C156;
}
.fragile-bottom {
  position: relative;
  bottom: 130px;
  left: 60px;
  font-family: AppleGothic;
  font-size: large;
  border-bottom: groove;
}
.box-text {
  width: 440px;
  height: 100px;
  //background-color: black;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 30px;
  font-family: AppleGothic;
}
.image-bottom-one {
  width: 100%;
}
.image-bottom-one:hover {
  opacity: .5;
}
  //social media
.social-media {
  width: 30px;
  height: 40px;
  padding-right: 30px;
  position: relative;
  left: 550px;
}
.social-media:hover {
  opacity: .2;
}
//footer
.footer-border {
  width: 100%;
  height: 30px;
  background-color: #C7C156;
}